<section class="section reviews">
  <div class="container">
    <h2 class="reviews-title">Section title</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-avatar"
          src="https://cdn.iconscout.com/icon/free/png-256/free-avatar-370-456322.png?f=webp"
          alt=""
          width="50"
        />
        <p class="reviews-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum,
          placeat quasi doloremque assumenda maiores officia. Dolores nisi
          recusandae cumque soluta exercitationem. Dicta, cupiditate. Labore at
          adipisci explicabo esse doloribus quo.
        </p>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-avatar"
          src="https://cdn.iconscout.com/icon/free/png-256/free-avatar-370-456322.png?f=webp"
          alt=""
          width="50"
        />
        <p class="reviews-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum,
          placeat quasi doloremque assumenda maiores officia. Dolores nisi
          recusandae cumque soluta exercitationem. Dicta, cupiditate. Labore at
          adipisci explicabo esse doloribus quo.
        </p>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-avatar"
          src="https://cdn.iconscout.com/icon/free/png-256/free-avatar-370-456322.png?f=webp"
          alt=""
          width="50"
        />
        <p class="reviews-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum,
          placeat quasi doloremque assumenda maiores officia. Dolores nisi
          recusandae cumque soluta exercitationem. Dicta, cupiditate. Labore at
          adipisci explicabo esse doloribus quo.
        </p>
      </li>
    </ul>
  </div>
</section>
